<h1>Submit a Question</h1>

<%= form_for @question do |f| %>
  <%= f.label "Title" %>
  <%= f.text_field :title %><br>
  <%= f.label "Content" %><br>
  <%= f.text_area :body %><br>
  <%= f.submit "Create Question" %>
<% end %>

<%= render partial: 'errors' %>

<%= link_to "Back to Home!", questions_path %>
