<h2>Sign In</h2>

<%= form_for(:session, url: sessions_path) do |f| %>
  <%= f.label "Email"  %>
  <%= f.text_field :email%>
  <%= f.label "Password"%>
  <%= f.password_field :password %>
  <%= f.submit "Sign In" %>
<% end %>
