<h1>Welcome <%= current_user.name %></h1>
<img src="<%=gravatar_image_source%>">

<h2>Questions you've asked.</h2>

<ul>
  <% current_user.questions.each do |question| %>
    <li>
      <%= link_to "#{question.title}", question %> | <%= render partial: "votes/counter", locals: {votable: question} %>
    </li>
  <% end %>
</ul>


<h2>Answers you've given.</h2>

<ul>
  <% current_user.answers.each do |answer| %>
  <li>
    <%= link_to "#{answer.question.title}", answer.question %> | <%= render partial: "votes/counter", locals: {votable: answer.question} %>
    <ul>
      <li>
        <%= answer.body %> | <%= render partial: "votes/counter", locals: {votable: answer} %>
      </li>
    </ul>
  </li>
  <% end %>
</ul>
